/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  I360 Styles Starter
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* natural box model */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  UTILITIES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* no break - example; optional to keep */
.nobr {
  white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  START YOUR STYLES HERE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  color: white;
}

/* only for index */
.index {
  background-color: #1d2142;
}

svg {
  fill: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  NAVIGATION MENU
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
header {
  position: sticky;
  top: 0;
  z-index: 10000;
}

nav {
  display: flex;
  background-color: #1d2142;
  align-items: center;
  position: sticky;
  padding: 1.5rem;
  font-size: 22px;

  .logonav {
    display: inline-flex;
  }

}

#myLinks {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10%;
}


/* ***************************************
*              MOBILE NAV                *
******************************************/
#mobile {
  display: none;
}

@media (max-width: 800px) {
  #myLinks {
    display: none;
  }

  nav .logonav {
    display: none;
  }

  #mobile {
    display: block;
  }

  .hover {
    font-size: 2.0em;
  }

  .hover:hover {
    color: #3f83ea;
  }

  .sidenav {
    display: none;
    height: 100%;
    width: 0;
    /* z-index: 1; */
    /* top: 0;
    left: 0; */
    background-color: #1d2142;
    /* overflow-x: hidden; */
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #3f83ea;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

}

.logo-t {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 0.2rem 0;
}

nav a:hover {
  color: #3f83ea;
}

nav a:hover svg {
  fill: #3f83ea;
}

nav a .active {
  color: #3f83ea;
}

.github {
  display: flex;
  justify-content: center;
}

.github svg {
  padding-left: 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  MAIN PAGE --- INDEX
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.bg {
  background-image: url(../images/server.jpg);
  background-position: center;
  height: 100%;
  /* https://unsplash.com/photos/white-marble-floor-tiles-aWslrFhs1w4 */
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  MAIN CONTENT
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin: 1.0em;
  padding: 2.0em;
}

@media (max-width: 800px) {
  main {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  ALPHA STUFF
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.alpha {
  background-color: rgba(30, 33, 66, 0.7);
  margin: 1.0em;
  padding: 2.0em;
  z-index: 2;
}

.alpha h3 {
  margin-bottom: 0;
  font-weight: 700;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  TOP OF PAGE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@keyframes fadeIt {
  from {
    background-color: white;
  }

  to {
    background-color: rgba(255, 255, 255, 0.01);
  }

  to {
    background-color: transparent;
  }
}

#BANG {
  position: fixed;
  visibility: hidden;
  width: 400%;
  height: 400%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  filter: brightness(200%);
  z-index: 99;
  animation: fadeIt 6s;
}

.about {
  display: flex;
  align-items: center;
}

.hilarious {
  display: flex;
  flex-direction: row;
}

.subtitle {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#flashbang {
  cursor: pointer;
  width: 50px;
}

.titles {
  width: 100%;
}

.titles h1 {
  font-size: 48px;
  display: flex;
  align-items: center;

  img {
    padding-right: 5px;
  }
}

.titles p {
  font-size: 24px;
}

.bsvg {
  padding-top: 2px;
  width: 60px;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #ffffff;
  color: #ffffff;
  text-align: center;
}

/* sampled from https://css-tricks.com/examples/hrs/ */
hr:before {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 3.0em;
  padding: 0 0.25em;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  PROJECT IMAGES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.imagerow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: 600;
  -webkit-text-stroke: 1px #1d2142;
}

@media (max-width: 1500px) {
  .imagerow {
    flex-direction: column;

  }
}

.imagerow a figure {
  height: auto;
  width: 100%;
}

.none {
  text-decoration: none;
  color: inherit;
}

/* https://success.appen.com/hc/en-us/articles/202703155-CSS-Guide-to-Enlarge-Images-on-Hover */
@media (min-width: 900px) {
  figure {
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
  }

  figure:hover {
    transform: scale(1.2);
  }
}

figure .imgrow {
  width: 600px;
  height: 300px;
  border-radius: 5%;
}

@media (max-width: 800px) {
  figure .imgrow {
    width: 80%;
    border-radius: 5%;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  ABOUT SECTION
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.aboutme {
  h2 {
    margin-top: 0;
    width: 50%;
    font-size: 50px;
    font-weight: 700;
  }
}

.personal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 800px) {
  .personal {
    flex-direction: column;
    align-items: center;
  }
}

.blurb {
  width: 50%;
}

.brag {
  text-decoration: underline;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills ul {
  /* list-style-image: url(''); */
  list-style-type: circle;
  padding: 0 2.0em 0;

  h5 {
    margin-left: -20px;
  }
}

.rightimage {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 33%;

  p {
    padding-right: 2%;
    font-size: 30px;
  }

}

@media (max-width: 800px) {
  .rightimage {
    width: 100%;
    align-items: center;
    padding-top: 20px;
  }

  .blurb {
    width: 100%;
    align-items: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.middleimage img {
  width: 200px;
  height: 200px;
  animation: rotate 1s infinite linear;
}


.me {
  width: 30%;
  border-radius: 50%;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  FADE IN CSS
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* https://codepen.io/bstonedev/pen/MWWZgKz?editors=1100 */
/* FADEIN CONTENT */
.tile {
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.bottom-right.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

.fade {
  padding: 20px;
}

/* DATETIME */
.datetime {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

  #clock {
    letter-spacing: 0.05em;
    font-size: 50px;
    padding: 5px 0;
  }

  #date {

    letter-spacing: 0.1em;
    font-size: 24px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  PAGE SPECIFIC --- RECIPES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.animations {
  overflow: hidden;
  height: 100%;
  background-image: linear-gradient(to bottom right, #ffffff 0%, #1ad798 100%);
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.animatedp {
  position: absolute;
  z-index: -1;
  top: -70%;
  animation: pickle 4s linear infinite;
}

@keyframes pickle {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(300%);
  }
}

.animatedp:nth-child(1) {
  left: -10%;
  animation-delay: 1s;
}

.animatedp:nth-child(2) {
  left: 10%;
  animation-delay: 0s;
}

.animatedp:nth-child(3) {
  left: 30%;
  animation-delay: 2s;
}

.animatedp:nth-child(4) {
  left: 40%;
  animation-delay: 0.3s;
}

.animatedp:nth-child(5) {
  left: 60%;
  animation-delay: 3s;
}

.animatedp:nth-child(6) {
  left: 70%;
  animation-delay: 0s;
}

.animatedp:nth-child(7) {
  left: 90%;
  animation-delay: 2.8s;
}

.pickle-title h1 {
  padding: 0.3em;
  text-align: center;
  color: black;
  /* -webkit-text-stroke: 1px black; */
}

.jar {
  display: flex;
  flex-direction: row;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  font-style: bold;
}

.ingredience {
  background-color: rgba(265, 165, 0, 0.8);
  /* background-image: linear-gradient(to bottom right,#1ad798 0%, #ffffff 100%); */
  border-radius: 10px;
  width: 35%;
  color: black;
  margin: 0 2.0em 0 10%;
  padding: 1.0em;
  font-size: 25px;
}

.ingredience li {
  padding: 0.5em 0;
}

.rules {
  background-color: rgba(265, 165, 0, 0.8);
  /* background-image: linear-gradient(to bottom right,#1ad798 0%, #ffffff 100%); */
  border-radius: 10px;
  width: 50%;
  color: black;
  margin: 0 2.0em 0;
  padding: 1.0em;
  font-size: 18px;
}

.rules li {
  padding: 0.5em 0;
}

.extra-tips {
  font-size: 16px;
}

@media (max-width: 800px) {
  .animations {
    overflow: auto;
  }

  .jar {
    flex-direction: column;
  }

  .ingredience {
    width: 100%;
    margin: 0;
  }

  .rules {
    width: 100%;
    margin: 1.0em 0;
  }

  @keyframes pickle {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(210vh);
    }
  }
}

@media (max-width: 1400px) {
  .ingredience {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .ingredience {
    font-size: 18px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Firefox 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firefox-main {
  background-color: #1b1b1b;
  color: #ffffff;

  p {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
}

.firefox-bg {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.0em;
  width: 100%;

  #ff {
    width: 10%;
  }

  #gc {
    width: 10%;
  }

}

@supports (font-variation-settings: normal) {
  .firefox-bg {
    font-family: InterVariable, sans-serif;
  }
}

.title {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
}

.chromium {
  display: flex;
  flex-direction: row;
  padding: 3.0em;
  justify-content: space-between;
}

.ffOver {
  width: 50%;
  margin: 0.75em;
  padding: 1.0em;
  font-size: 20px;
  border: 1px solid #858585;
  border-radius: 10px;

  p {
    line-height: 1.5;
  }

  .title {
    font-size: 40px;
  }

  li {
    /* display: inline; */
    padding: 0.20em 1.0em;
    font-weight: 700;
  }
}

#chart {
  width: 50%;
  border-radius: 10px;
}

.ffRight {
  font-size: 20px;
  margin: 0.75em;
  padding: 1.0em;
  border: 1px solid #858585;
  border-radius: 10px;
  width: 70%;
}


.card {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-image: url("https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/10/Visual-Guidelines-1000x563.png");
  background-position: center;

  a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    h3 {
      padding: 2.0em 0 0;
    }

  }

  a:hover {
    text-decoration: underline;
  }

}

.extensions {
  border: 1px solid #858585;
  border-radius: 10px;

  table {
    /* padding: 1.0em; */
    border-collapse: collapse separate;
    border-spacing: 0 15px;
    border-radius: 10px;

    

    tr:nth-child(odd) {
      background-color: #313131;
      border-radius: 10px;
    }

    td {
      font-size: 20px;
      padding: 1.0em;
    }

    img {
      width: 50%;
    }

  }

}

.mid th {
  text-align: center;
  vertical-align: middle;
  padding: 2.0em;
}

@media (max-width: 1300px) {
  .chromium {
    display: flex;
    flex-direction: column;
    padding: 0;
    /* justify-content: center; */
  }

  .ffOver {
    width: 100%;
    margin: 0;
  }

  #chart {
    width: 100%;
  }

  .card {
    width: 100%;
    margin-top: 1.0em;
  }

  .ffRight {
    width: 100%;
    margin: 0;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  CAPSTONE 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.full {
  display: flex;
  padding: 1.0em 0;
  font-size: 20px;

  img {
    width: 50%;
  }
}

.titleMode {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  padding: 0.25em;
  width: 70%;
}

.col {
  width: 100%;
  text-align: center;

  .titleMode {
    width: 100%;
  }
}

.left-side {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.0em;
}

.right-side {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 1.0em;
  text-align: end;
}

#Blogo {
  width: 100%;
}

.paragraph {
  display: flex;
  flex-direction: column;

  .titleMode {
    width: 30%;
  }
}

.cap {
  color: black;
  margin: 0;
  padding: 0 2.0em;
  /* https://unsplash.com/photos/aerial-view-of-cars-parked-on-parking-lot-yvfp5YHWGsc */
  background-image: url(../images/parkinglot.jpg);
  background-position: center;
}

.sql {
  tr {
    padding: 1.0em;
  }

  th {
    padding: 1.0em;
  }
}


.textBox {
  background-color: rgba(30, 33, 66, 0.7);
  color: white;
  border-radius: 10px;
  padding: 1.0em;
}

#secretPython {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
}

@media (max-width: 800px) {
  .cap {
    padding: 0 0 0 0;
  }

  .full {
    flex-direction: column;
  }

  
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  PIRACY 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.piratemain {
  margin: 0;
  padding: 0;

  .alpha {
    margin: 0;
  }
}

.menu {
  text-align: center;
}

.warn {
  color: red;
  font-size: 80px;
}

.window {
  color: #357EC7;
}

.wide {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}

.segment {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(38, 42, 86, 0.8);
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 0 2.0em;
  width: 33%;

  a {
    color: #4c94dc;
  }
}

.segment2 {


  a {
    color: #357EC7;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ****************************************
  TABS SECTION
*********************************************/
.save-about {
  margin: 60px 0;
  color: black;
}

.leftmargin {
  margin-left: 5%;
}

.left-align {
  margin: 0 auto;
  padding-right: 20px;
  text-align: left;
  font-size: 28px;
  width: 50%;
}

code {
  background-color: black;
  padding: 0.5em;
  color: white;
}

.infograph {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 600px;
  }

}


.gist {
  overflow-y: auto;
  height: 350px;
  border: 1px solid black;
}

.citra {
  width: 30%;
  margin: 0 auto;
}

.ryujinx {
  width: 30%;
  margin: 0 auto;
}

.flex {
  display: flex;
  padding: 1.0em 5.0rem 2.0rem 5.0rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.tinytext {
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  img {
    width: 25%;
    padding-bottom: 2%;
  }
}

@media (max-width: 1600px) {
  .left-align {
    font-size: 24px;
    padding-right: 5.0em;
  }

  .leftmargin {
    padding-left: 5.0em;
    padding-right: 0;
  }

  .infograph {
    img {
      width: 500px;
    }

    .gist {
      width: 100%;
    }
  }

}

@media (max-width: 1000px) {
  .wide {
    flex-direction: column;
  }
  
  .segment {
    width: 100%;
  }
  
  .row {
    flex-direction: column;
  }

  .spotify {
    width: 100%;
  }

  .youtube {
    width: 100%;
  }

  .infograph img {
    width: 150%;
  }
}

@media (max-width: 800px) {
  .about-buttons {
    font-size: 18px;
  }

  .flex {
    flex-direction: column;
    padding: 2.0rem 0 2.0rem 0;
    border: 1px solid black;
  }

  .left-align {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .infograph {
    width: 80%;

    img {
      width: 100%;
    }

    .gist {
      width: 100%;
    }
  }
}

.about-buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  background-color: transparent;
}

button[role='tab'] {
  width: 23.5%;
  background: rgba(231, 231, 255, 0.815);
  color: rgba(0, 0, 0, 0.7);
  font-size: larger;
  border: 0;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  padding: .8rem;
  margin: 0px;
}

button[aria-selected='true'] {
  background: white;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  position: relative;
  top: 1px;
}

button[role='tab']:focus {
  outline: 0;
}

.tabpanel {
  padding: 1.7rem;
  background-color: white;
  border: 1px solid grey;
}

.tabpanel p {
  line-height: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  MEDIA QUERIES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* MEDIA QUERY FOR PREFERS-COLOR-SCHEME */
/* @media (prefers-color-scheme: dark) {
  body.adaptive {

  }
} */


/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}




/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */