/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  I360 Styles Starter
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* natural box model */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  UTILITIES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* no break - example; optional to keep */
.nobr {
  white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  START YOUR STYLES HERE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* ***************************************
*              MOBILE NAV                *
******************************************/
#mobile {
  display: none;
}

@media (max-width: 800px) {
  #myLinks {
    display: none;
  }

  nav .logonav {
    display: none;
  }

  #mobile {
    display: block;
  }

  .hover {
    font-size: 2.0em;
  }

  .hover:hover {
    color: #3f83ea;
  }

  .sidenav {
    display: none;
    height: 100%;
    width: 0;
    /* z-index: 1; */
    /* top: 0;
    left: 0; */
    background-color: #1d2142;
    /* overflow-x: hidden; */
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #3f83ea;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

}

.logo-t {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 0.2rem 0;
}

nav a:hover {
  color: #3f83ea;
}

nav a:hover svg {
  fill: #3f83ea;
}

nav a .active {
  color: #3f83ea;
}

.github {
  display: flex;
  justify-content: center;
}

.github svg {
  padding-left: 5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  MEDIA QUERIES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* MEDIA QUERY FOR PREFERS-COLOR-SCHEME */
/* @media (prefers-color-scheme: dark) {
  body.adaptive {

  }
} */


/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}




/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */